* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  margin: 20px 0 60px;
}

.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.grid {
  background-image: url(assets/board.png);
  background-size: contain;
  height: 626.4px;
  width: 595.2px;
}

.row {
  display: flex;
  margin-bottom: 8.8px;
}

.row div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;
}

.row:nth-child(2) div {
  height: 212px;
}

.row:last-child div {
  height: 196.8px;
}

.row div:first-child {
  width: 198.4px;
}

.row div:nth-child(2) {
  width: 192px;
  margin: 0 6.8px;
}

.row div:last-child {
  width: 192px;
}

@keyframes bouncein {
  from {
    background-size: 90px;
    filter: brightness(80%);
  }
  20% {
    background-size: 135px;
  }
  40% {
    background-size: 105px;
  }
  60% {
    background-size: 127px;
    filter: brightness(100%);
  }
  80% {
    background-size: 113px;
  }
  to {
    background-size: 120px;
  }
}
.red {
  background-image: url(assets/red.png);
  animation: 0.5s 1 bouncein;
}

.yellow {
  background-image: url(assets/yellow.png);
  animation: 0.5s 1 bouncein;
}

.lose {
  filter: brightness(40%);
}

@keyframes pulse-big {
  from {
    background-size: 120px;
  }
  50% {
    background-size: 150px;
  }
  to {
    background-size: 120px;
  }
}
.win {
  animation: 0.8s ease-in-out 2 pulse-big;
}

@keyframes pulse-small {
  from {
    background-size: 60px;
  }
  50% {
    background-size: 90px;
  }
  to {
    background-size: 60px;
  }
}

.ghost {
  background-image: url(assets/red.png);
  filter: brightness(80%);
  animation: pulse-small 0.8s infinite ease-in-out;
  cursor: pointer;
}

.score {
  text-transform: capitalize;
}
