* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  margin: 20px 0 60px;
}

.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.grid {
  background-image: url(assets/board.png);
  background-size: contain;
  height: 626.4px;
  width: 595.2px;
}

.row {
  display: flex;
  margin-bottom: 8.8px;
}

.row div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;
}

.row:nth-child(2) div {
  height: 212px;
}

.row:last-child div {
  height: 196.8px;
}

.row div:first-child {
  width: 198.4px;
}

.row div:nth-child(2) {
  width: 192px;
  margin: 0 6.8px;
}

.row div:last-child {
  width: 192px;
}

.row > div:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

.yellow {
  background-image: url(assets/yellow.png);
}

.red {
  background-image: url(assets/red.png);
}

.brightness-low {
  filter: brightness(40%);
}
